@page "/booking"
@using TicketHive.Shared.Models;
@inject IEventRepo eventrepo

<div>
    <h3>Our events</h3>
</div>


<div class="row row-cols-3 row-cols-md-3 g-4">
    @foreach (var events in eventrepo.Events)
    {
        <div class="col">
            <div class="card">
               
                <div class="card-body">

                    <img src="/Images/@events.Image" class="card-img-top" alt="...">
                    <h5 class="card-title">@events.EventName</h5>
                    <p class="card-text">@events.EventDetails</p>

                    <a href="#" class="btn btn-primary">Go to event</a>
                </div>
            </div>
        </div>
    }

</div>


@code{


    protected override async Task OnInitializedAsync()
    {
        await eventrepo.GetAllEvents();
    }


}   

