@page "/booking"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@using TicketHive.Shared.Models;
@inject IEventRepo eventrepo


<div>
    <form class="search-form m-2" role="search">
        <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search" @bind-value="searchEvent" @oninput="HandleInput">
    </form>
</div>



@if (filteredEvents != null && filteredEvents.Any())
{
    <div class="row row-cols-3 row-cols-md-3 g-4 center">
        @foreach (var events in filteredEvents)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="/Images/@events.Image" class="card-img-top" alt="...">
                        <h5 class="card-title">@events.EventName</h5>
                        <p class="card-text">@events.EventDetails</p>
                        <a href="/event/@events.Id" class="btn btn-primary card-btn">Go to event</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="row row-cols-3 row-cols-md-3 g-4">
        @foreach (var events in eventrepo.Events)
        {

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img src="/Images/@events.Image" class="card-img-top" alt="...">
                        <h5 class="card-title">@events.EventName</h5>
                        <p class="card-text">@events.EventDetails</p>
                        <a href="/event/@events.Id" class="btn btn-primary card-btn">Go to event</a>
                    </div>
                </div>
            </div>
        }

    </div>
}

@code {
    private List<EventModel> events = new List<EventModel>();
    private List<EventModel> filteredEvents = new List<EventModel>();
    private string searchEvent = "";


    protected override async Task OnInitializedAsync()
    {
        events = await eventrepo.GetAllEvents();
        filteredEvents = events;


    }

    private void HandleInput(ChangeEventArgs e)
    {
        searchEvent = e.Value.ToString();
        if (string.IsNullOrEmpty(searchEvent))
        {
            filteredEvents = events;
        }
        else
        {

            filteredEvents = events
            .Where(e => e.EventName.ToLower().Contains(searchEvent.ToLower())
            || e.EventType.ToLower().Contains(searchEvent.ToLower())
            || e.EventPlace.ToLower().Contains(searchEvent.ToLower()))
            .ToList();

        }
    }

    private void ClearSearch()
    {
        searchEvent = "";
        filteredEvents = events;
    }
}



<style>
    .search-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-input {
        width: 20%;
        margin-right: 10px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .card {
        flex: 1 1 300px;
        margin: 10px;
        height: 100%;
        overflow: hidden;
    }

    .card:hover{
            transform: scale(1.05);
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .card-title {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-btn {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .input[type="submit"]:hover {
        transform: translateY(-6px);
    }



</style>


